<a href="https://colab.research.google.com/github/OmriMan/EnsembleLearning_EnsembleDiversity_Assignment4/blob/main/Ensemble_Ass4_Loan.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Packages

In [16]:
import numpy as np  
import pandas as pd  

from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import ExtraTreesClassifier
from matplotlib import pyplot as plt  
from sklearn.tree import plot_tree 

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score

from sklearn.metrics import precision_score

import random

from sklearn.model_selection import RandomizedSearchCV

from tabulate import tabulate

#Dataset Loan#
Gender: Female = 1,Male = 0

Married: No=0,Yes = 1

Dependents: 1 , 2, '3+' = 3

Education: Not Graduate=0,Graduate=1

Self_Employed: Missing values ​​were replaced by '1' in the data set

ApplicantIncome: Applicant Income - number

CoapplicantIncome: Coapplicant Income  - number

Loan Amount: number 

Loan_Amount_Term: Loan amount term in days, number  

Credit_History: Applicant credit history, binary

Property_Area: We did not use this feature

Loan_Status: Yes = 1, No=0

In [17]:
def preprocess(df):
    # Putting on index to each dataset before split it
    # df = df.set_index("PassengerId")
    # Gender
    change = {'Female':1,'Male':0}
    df.Gender = df.Gender.map(change)
    df['Gender'] = df['Gender'].replace(to_replace = np.nan, value = 0)

    # Education
    change = {'Not Graduate':0,'Yes':1}
    df.Education = df.Education.map(change)
    df['Education'] = df['Education'].replace(to_replace = np.nan, value =1)

    # 	Dependents
    change = {'0':0,'1':1,'2':2,'3+':3,'+3':3}
    df.Dependents = df.Dependents.map(change)


    # Married
    change = {'No':0,'Yes':1}
    df.Married = df.Married.map(change)
    # df['Married'] = df['Married'].replace(to_replace = np.nan, value =1)

    #Self_Employed
    df.Self_Employed = df.Self_Employed.map(change)
    df['Self_Employed'] = df['Self_Employed'].replace(to_replace = np.nan, value =0)

    #Loan_Status
    change = {'N':0,'Y':1}
    df.Loan_Status = df.Loan_Status.map(change)

    # #ApplicantIncome
    # df['ApplicantIncome'] = df['ApplicantIncome']/1000

    # #CoapplicantIncome
    # df['CoapplicantIncome'] = df['CoapplicantIncome']/1000

    df = df.drop(columns=['Property_Area'])
    return df

Load the data set

In [18]:
df = pd.read_csv('/content/sample_data/Loan.csv')
df = preprocess(df)
features = ['Gender',	'Married',	'Dependents',	'Education',	'Self_Employed',	'ApplicantIncome',	'CoapplicantIncome',	'LoanAmount',	'Loan_Amount_Term',	'Credit_History']
X = df.loc[:, features]
y = df.loc[:, ['Loan_Status']]

Split the data into training and testin sets

In [19]:
df = pd.read_csv('/content/sample_data/Loan.csv')
df.isna().sum()

Gender               1
Married              0
Dependents           0
Education            0
Self_Employed        9
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0, train_size = .75)
X_train

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
158,0.0,0,0,1.0,0.0,2980,2083.0,120,360,1
40,0.0,0,0,1.0,0.0,3600,0.0,80,360,1
757,1.0,1,0,1.0,0.0,3625,0.0,108,360,1
440,0.0,0,0,1.0,0.0,3660,5064.0,187,360,1
927,1.0,1,0,1.0,0.0,2423,505.0,130,360,1
...,...,...,...,...,...,...,...,...,...,...
1033,1.0,1,0,1.0,1.0,2083,4083.0,160,360,1
763,0.0,0,0,0.0,0.0,4885,0.0,48,360,1
835,1.0,0,1,1.0,0.0,3481,0.0,155,36,1
559,1.0,1,0,1.0,0.0,4180,2306.0,182,360,1
684,0.0,1,0,1.0,0.0,9083,0.0,228,360,1

In [21]:
X_test.isna().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
dtype: int64

In [22]:
X_train.isna().sum()

Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
dtype: int64

#Target class distribution#

In [23]:
target = df['Loan_Status']
target.value_counts()

Y    729
N    324
Name: Loan_Status, dtype: int64

#Define and train the models #

Random Forest Classifier

In [24]:
model_rf = RandomForestClassifier(n_estimators=100)

model_rf.fit(X_train,np.ravel(y_train))

RandomForestClassifier()

In [25]:
inputs = pd.DataFrame(X_test)
prediction_RandomForestClassifier = model_rf.predict(inputs)

accuracy_RandomForestClassifier = accuracy_score(y_test,prediction_RandomForestClassifier)
print(f"Accuracy score of RandomForestClassifier = {accuracy_RandomForestClassifier}")

precision_RandomForestClassifier = precision_score(y_test,prediction_RandomForestClassifier,average='weighted')
print(f"Precision score of RandomForestClassifier = {precision_RandomForestClassifier}")

Accuracy score of RandomForestClassifier = 0.8787878787878788
Precision score of RandomForestClassifier = 0.87744901146963

Extremely Randomized Trees

In [26]:
model_ExtraTreesClassifier = ExtraTreesClassifier(n_estimators=100)
model_ExtraTreesClassifier.fit(X_train,np.ravel(y_train))

ExtraTreesClassifier()

In [27]:
inputs = pd.DataFrame(X_test)
prediction_ExtraTreesClassifier = model_ExtraTreesClassifier.predict(inputs)
accuracy_ExtraTreesClassifier = accuracy_score(y_test,prediction_ExtraTreesClassifier)
print(f"Accuracy score of ExtraTreesClassifier = {accuracy_ExtraTreesClassifier}")

precision_ExtraTreesClassifier = precision_score(y_test,prediction_ExtraTreesClassifier,average='weighted')
print(f"Precision score of ExtraTreesClassifier = {precision_ExtraTreesClassifier}")

Accuracy score of ExtraTreesClassifier = 0.8787878787878788
Precision score of ExtraTreesClassifier = 0.8771972242017035

Summary - Loan dataset

In [28]:
print(tabulate([["Accuracy",accuracy_RandomForestClassifier,accuracy_ExtraTreesClassifier],["Precision",precision_RandomForestClassifier,precision_ExtraTreesClassifier]], headers=["Metric\Model","RandomForestClassifier","ExtraTreesClassifier"], tablefmt="grid"))

+----------------+--------------------------+------------------------+
| Metric\Model   |   RandomForestClassifier |   ExtraTreesClassifier |
+================+==========================+========================+
| Accuracy       |                 0.878788 |               0.878788 |
+----------------+--------------------------+------------------------+
| Precision      |                 0.877449 |               0.877197 |
+----------------+--------------------------+------------------------+